
<div class="header-box">
  <div class="button-container">
    <a href="/movie">
      <button type="button" class="btn btn-primary add-button">
        Envie seu filme
      </button>
    </a>
    <button type="button" class="btn btn-primary logout-button" (click)="logout()">
      Logout <i class="fas fa-sign-out-alt"></i>
    </button>
    <button type="button" class="btn btn-primary add-button" routerLink="/favorites">Ver Favoritos</button>
    <button type="button" class="btn btn-primary add-button" routerLink="/user">Editar Usuário</button>
  </div>
</div>
<div class="home-container" >

  <div class="mat-elevation-z8 table-box" >
    <div> <h2 class="table-title">Filmes</h2></div>
  <table mat-table [dataSource]="dataSource" matSort class="mat-table-custom">
  
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let movie"> {{ movie?.id }} </td>
    </ng-container>
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Título </th>
      <td mat-cell *matCellDef="let movie"> {{ movie?.title }} </td>
    </ng-container>
    <ng-container matColumnDef="director">
      <th mat-header-cell *matHeaderCellDef> Diretor </th>
      <td mat-cell *matCellDef="let movie"> {{ movie?.director }} </td>
    </ng-container>
    <ng-container matColumnDef="year">
      <th mat-header-cell *matHeaderCellDef> Ano </th>
      <td mat-cell *matCellDef="let movie"> {{ movie?.year }} </td>
    </ng-container>
    <ng-container matColumnDef="genre">
      <th mat-header-cell *matHeaderCellDef> Gênero </th>
      <td mat-cell *matCellDef="let movie"> {{ movie?.genre }} </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Ações </th>
      <td mat-cell *matCellDef="let movie">
        <button mat-icon-button (click)="toggleFavorite(movie)" [ngClass]="{ 'active': isFavorite(movie) }">
          <mat-icon>{{ isFavorite(movie) ? 'favorite' : 'favorite_border' }}</mat-icon>
      </button>
        <button *ngIf="isOwner(movie)" mat-icon-button (click)="redirectToEditMovie(movie.id)">
          <mat-icon>edit</mat-icon>
        </button>
        <button *ngIf="isOwner(movie)" mat-icon-button (click)="deleteMovie(movie)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>


<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons aria-label="Select page"
[pageSize]="5" [length]="movies.length">
</mat-paginator>
</div>
</div>
